.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: black;
  height: 3em;
  width: auto;
  position: relative;
  display: grid;
  align-items: center;
}

.main {
  background-color: rgb(173, 173, 173);
  padding: 2.5em;
  border-radius: 3em;
  margin: 0 1em 0 1em;
}

.main__results {
  display: grid;
  grid-auto-flow: row;
}

.main__images {
  gap: 1em;
}

.main__image {
  width: 10em;
  gap: 1em;
}

.footer {
  background-color: black;
  height: 1em;
  width: auto;
}
